h1{
    font-family: 'Rock Salt';
	text-shadow: 2px 2px 5px black;
	font-size: 55;
	color: white;
    
}
body{
	background-image: url("https://d12mivgeuoigbq.cloudfront.net/magento-media/blog/2019/listening-headphones.jpg");
	background-size: cover;
	margin:0;
	
}

img{
    
    height: 150;
   
}

footer{
	
	width: 100%;
	position: absolute;
	bottom: 0;
	color:white;
	background-color:1A1A1A ;
	opacity: 0.95;
}
div#pie{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-gap:50px;
	padding: 20px 0px;
}
div#logo{
	justify-content: center;
	display: flex;
}
.cabez{
	height: 60;
    float:right;
}

.cabezicono{
	height: 60;
    float:left;
}

a#musiclab{
    text-decoration: none;
    color:white;
    font-size: 30;
    font-family: 'Rock Salt', cursive;
	
}

div#encabezado{
    background-color:1A1A1A ;
    padding-top: 10px;
	height: 75;
	
}